@import './index.css';

/* GENERAL SETTINGS */

body{
  background-color: var(--primary);
}

a {
  color: var(--link-color-secondary);
}

/* EDITS */

.summoner-info-area{
  background-color: var(--primary-dark);
  padding: 3rem;
}
.summoner-name{
  color: var(--link-color-secondary);
  margin-top: 1.5rem;
  margin-left: 1.45rem;
}
.summoner-img{
  width: 128px;
  height: 128px;
}
.summoner-level{
  position: absolute;
  cursor: default;
  pointer-events: none;
  /* border-image: url(); */
  left: 8rem;
  top: 9rem;
  background-color: #fff;
  font-weight: 900;
  padding:.25rem;
  z-index: 99;
}
