/* VARIABLES */

:root {
  --primary: #212b3e;
  --primary-dark: #141e31;
  --secondary: #535c6e;
  --secondary-dark: #727e96;

  --logo-text: #997b0a;

  --link-color-primary: #007bff;
  --link-color-secondary: #f9f9f9;
  --link-color-secondary-dark: #adadad;
  --link-color-tertiary:#877bff;

  --champion-level-0: #adc7c9;
  --champion-level-30: #4c8522;
  --champion-level-50: #1728d7;
  --champion-level-75: #f49c3f;
  --champion-level-100: #cea651;
  --champion-level-150: #5ed9f9;
  --champion-level-175: #714f14;
}

@font-face{
  font-family: OpenFacePro;
  src: url(./fonts/OpenfacePro.otf);
}

/* GENERAL SETTINGS */

body{
  margin: 0;
  padding: 0;
}
a, Nav.Item {
  color: var(--link-color-primary);
}
button{ transition: .1s; }
button:hover{ cursor: pointer; }
button:active{ border: none; }
button:focus { outline:0; }

.logo-text a{
  color: var(--logo-text);
  font-family: OpenFacePro;
  font-size: larger;
  text-shadow: aliceblue 0 0 .4px;
}
.logo-text a:hover{
  text-decoration: none;
}
